# Data Cleaning

<br>

__Technical Notebook -__  Module 1 Microsoft Project <br />
__Data Scientists -__  Nathan Venos, Max Tingle <br />
__Flatiron School -__ DC Data Science Fellowship

<br>

In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [30]:
data = pd.read_csv('Data/cleaned_dataframe.csv')

In [32]:
data.head()

,primary_title,original_title,start_year,runtime_minutes,genres,average_rating,num_votes,directors,writers,title,...,horror,music,musical,mystery,romance,sci_fi,sport,thriller,war,western
0,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"['Adventure', 'Comedy', 'Drama']",7.3,275300.0,nm0001774,"nm0175726,nm0862122",the secret life of walter mitty,...,False,False,False,False,False,False,False,False,False,False
1,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"['Action', 'Crime', 'Drama']",6.5,105116.0,nm0291082,"nm0088747,nm0291082",a walk among the tombstones,...,False,False,False,False,False,False,False,False,False,False
2,Jurassic World,Jurassic World,2015,124.0,"['Action', 'Adventure', 'Sci-Fi']",7.0,539338.0,nm1119880,"nm0415425,nm0798646,nm1119880,nm2081046,nm0000341",jurassic world,...,False,False,False,False,False,False,False,False,False,False
3,The Rum Diary,The Rum Diary,2011,119.0,"['Comedy', 'Drama']",6.2,94787.0,nm0732430,"nm0732430,nm0860219",the rum diary,...,False,False,False,False,False,False,False,False,False,False
4,The Three Stooges,The Three Stooges,2012,92.0,"['Comedy', 'Family']",5.1,28570.0,"nm0268380,nm0268370","nm0148808,nm0268370,nm0268380",the three stooges,...,False,False,False,False,False,False,False,False,False,False

In [28]:
data.action.value_counts()

False    1226
Name: action, dtype: int64

In [22]:
data['horror'].count()

1226

In [23]:
data.columns

Index(['primary_title', 'original_title', 'start_year', 'runtime_minutes',
       'genres', 'average_rating', 'num_votes', 'directors', 'writers',
       'title', 'studio', 'year', 'release_date', 'production_budget',
       'domestic_gross', 'worldwide_gross', 'foreign_gross', 'numvotes',
       'action', 'adventure', 'animation', 'biography', 'comedy', 'crime',
       'documentary', 'drama', 'family', 'fantasy', 'history', 'horror',
       'music', 'musical', 'mystery', 'romance', 'sci_fi', 'sport', 'thriller',
       'war', 'western'],
      dtype='object')

In [ ]:
genre_columns = ['action', 'adventure', 'animation', 'biography', 'comedy', 'crime',
       'documentary', 'drama', 'family', 'fantasy', 'history', 'horror',
       'music', 'musical', 'mystery', 'romance', 'sci_fi', 'sport', 'thriller',
       'war', 'western']

In [17]:
data.groupby('horror').count()

,primary_title,original_title,start_year,runtime_minutes,genres,average_rating,num_votes,directors,writers,title,...,history,music,musical,mystery,romance,sci_fi,sport,thriller,war,western
horror,,,,,,,,,,,,,,,,,,,,,
False,1226,1226,1226,1226,1226,1226,1226,1226,1223,1226,...,1226,1226,1226,1226,1226,1226,1226,1226,1226,1226