# Data Cleaning

<br>

__Technical Notebook -__  Module 1 Microsoft Project <br />
__Data Scientists -__  Nathan Venos, Max Tingle <br />
__Flatiron School -__ DC Data Science Fellowship

<br>

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [29]:
df = pd.read_csv('Data/cleaned_dataframe.csv')

In [30]:
df.head()

,primary_title,original_title,start_year,runtime_minutes,genres,average_rating,num_votes,directors,writers,title,...,horror,music,musical,mystery,romance,sci_fi,sport,thriller,war,western
0,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"['Adventure', 'Comedy', 'Drama']",7.3,275300.0,nm0001774,"nm0175726,nm0862122",the secret life of walter mitty,...,False,False,False,False,False,False,False,False,False,False
1,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"['Action', 'Crime', 'Drama']",6.5,105116.0,nm0291082,"nm0088747,nm0291082",a walk among the tombstones,...,False,False,False,False,False,False,False,False,False,False
2,Jurassic World,Jurassic World,2015,124.0,"['Action', 'Adventure', 'Sci-Fi']",7.0,539338.0,nm1119880,"nm0415425,nm0798646,nm1119880,nm2081046,nm0000341",jurassic world,...,False,False,False,False,False,True,False,False,False,False
3,The Rum Diary,The Rum Diary,2011,119.0,"['Comedy', 'Drama']",6.2,94787.0,nm0732430,"nm0732430,nm0860219",the rum diary,...,False,False,False,False,False,False,False,False,False,False
4,The Three Stooges,The Three Stooges,2012,92.0,"['Comedy', 'Family']",5.1,28570.0,"nm0268380,nm0268370","nm0148808,nm0268370,nm0268380",the three stooges,...,False,False,False,False,False,False,False,False,False,False

In [31]:
df.columns

Index(['primary_title', 'original_title', 'start_year', 'runtime_minutes',
       'genres', 'average_rating', 'num_votes', 'directors', 'writers',
       'title', 'studio', 'year', 'release_date', 'production_budget',
       'domestic_gross', 'worldwide_gross', 'foreign_gross', 'numvotes',
       'action', 'adventure', 'animation', 'biography', 'comedy', 'crime',
       'documentary', 'drama', 'family', 'fantasy', 'history', 'horror',
       'music', 'musical', 'mystery', 'romance', 'sci_fi', 'sport', 'thriller',
       'war', 'western'],
      dtype='object')

In [33]:
# creating a column of new metric that multiplies average_rating by num_votes
df['rating_votes'] = df['average_rating'] * df['num_votes']

In [51]:
len(df.studio.unique())

80

In [45]:
df.sort_values(by=['rating_votes'], ascending=False).head()

,primary_title,original_title,start_year,runtime_minutes,genres,average_rating,num_votes,directors,writers,title,...,music,musical,mystery,romance,sci_fi,sport,thriller,war,western,rating_votes
316,Inception,Inception,2010,148.0,"['Action', 'Adventure', 'Sci-Fi']",8.8,1841066.0,nm0634240,nm0634240,inception,...,False,False,False,False,True,False,False,False,False,16201380.8
302,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"['Action', 'Thriller']",8.4,1387769.0,nm0634240,"nm0634300,nm0634240,nm0333060,nm0004170",the dark knight rises,...,False,False,False,False,False,False,True,False,False,11657259.6
64,Interstellar,Interstellar,2014,169.0,"['Adventure', 'Drama', 'Sci-Fi']",8.6,1299334.0,nm0634240,"nm0634300,nm0634240",interstellar,...,False,False,False,False,True,False,False,False,False,11174272.4
651,Django Unchained,Django Unchained,2012,165.0,"['Drama', 'Western']",8.4,1211405.0,nm0000233,nm0000233,django unchained,...,False,False,False,False,False,False,False,False,True,10175802.0
112,The Wolf of Wall Street,The Wolf of Wall Street,2013,180.0,"['Biography', 'Crime', 'Drama']",8.2,1035358.0,nm0000217,"nm1010540,nm0067789",the wolf of wall street,...,False,False,False,False,False,False,False,False,False,8489935.6

In [46]:
df.sort_values(by=['worldwide_gross'], ascending=False).head()

,primary_title,original_title,start_year,runtime_minutes,genres,average_rating,num_votes,directors,writers,title,...,music,musical,mystery,romance,sci_fi,sport,thriller,war,western,rating_votes
1080,Avengers: Infinity War,Avengers: Infinity War,2018,149.0,"['Action', 'Adventure', 'Sci-Fi']",8.5,670926.0,"nm0751577,nm0751648","nm1321655,nm1321656,nm0498278,nm0456158,nm0800...",avengers infinity war,...,False,False,False,False,True,False,False,False,False,5702871.0
2,Jurassic World,Jurassic World,2015,124.0,"['Action', 'Adventure', 'Sci-Fi']",7.0,539338.0,nm1119880,"nm0415425,nm0798646,nm1119880,nm2081046,nm0000341",jurassic world,...,False,False,False,False,True,False,False,False,False,3775366.0
931,Furious 7,Furious Seven,2015,137.0,"['Action', 'Crime', 'Thriller']",7.2,335074.0,nm1490123,"nm0604555,nm0860155",furious 7,...,False,False,False,False,False,False,True,False,False,2412532.8
855,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,141.0,"['Action', 'Adventure', 'Sci-Fi']",7.3,665594.0,nm0923736,"nm0923736,nm0498278,nm0456158,nm0800209,nm4160687",avengers age of ultron,...,False,False,False,False,True,False,False,False,False,4858836.2
642,Black Panther,Black Panther,2018,134.0,"['Action', 'Adventure', 'Sci-Fi']",7.3,516148.0,nm3363032,"nm3363032,nm1963288,nm0498278,nm0456158",black panther,...,False,False,False,False,True,False,False,False,False,3767880.4

In [25]:
df1 = data.groupby(["domestic_gross"])

In [26]:
df1.head()

,primary_title,original_title,start_year,runtime_minutes,genres,average_rating,num_votes,directors,writers,title,...,horror,music,musical,mystery,romance,sci_fi,sport,thriller,war,western
0,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"['Adventure', 'Comedy', 'Drama']",7.3,275300.0,nm0001774,"nm0175726,nm0862122",the secret life of walter mitty,...,False,False,False,False,False,False,False,False,False,False
1,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"['Action', 'Crime', 'Drama']",6.5,105116.0,nm0291082,"nm0088747,nm0291082",a walk among the tombstones,...,False,False,False,False,False,False,False,False,False,False
2,Jurassic World,Jurassic World,2015,124.0,"['Action', 'Adventure', 'Sci-Fi']",7.0,539338.0,nm1119880,"nm0415425,nm0798646,nm1119880,nm2081046,nm0000341",jurassic world,...,False,False,False,False,False,True,False,False,False,False
3,The Rum Diary,The Rum Diary,2011,119.0,"['Comedy', 'Drama']",6.2,94787.0,nm0732430,"nm0732430,nm0860219",the rum diary,...,False,False,False,False,False,False,False,False,False,False
4,The Three Stooges,The Three Stooges,2012,92.0,"['Comedy', 'Family']",5.1,28570.0,"nm0268380,nm0268370","nm0148808,nm0268370,nm0268380",the three stooges,...,False,False,False,False,False,False,False,False,False,False
5,Tangled,Tangled,2010,100.0,"['Adventure', 'Animation', 'Comedy']",7.8,366366.0,"nm1977355,nm0397174","nm1557594,nm0342278,nm0342303",tangled,...,False,False,False,False,False,False,False,False,False,False
6,John Carter,John Carter,2012,132.0,"['Action', 'Adventure', 'Sci-Fi']",6.6,241792.0,nm0004056,"nm0004056,nm0028764,nm0149290,nm0123194",john carter,...,False,False,False,False,False,True,False,False,False,False
7,Dinner for Schmucks,Dinner for Schmucks,2010,114.0,['Comedy'],5.9,91546.0,nm0005366,"nm1115862,nm1911349,nm0891554",dinner for schmucks,...,False,False,False,False,False,False,False,False,False,False
8,The A-Team,The A-Team,2010,117.0,"['Action', 'Adventure', 'Thriller']",6.8,235256.0,nm0138620,"nm0138620,nm0089141,nm0940790,nm0526967,nm0004798",the ateam,...,False,False,False,False,False,False,False,True,False,False
9,The Possession,The Possession,2012,92.0,"['Horror', 'Mystery', 'Thriller']",5.9,53649.0,nm0097079,"nm0925482,nm1757236,nm1340000",the possession,...,True,False,False,True,False,False,False,True,False,False
10,Real Steel,Real Steel,2011,127.0,"['Action', 'Drama', 'Family']",7.1,283534.0,nm0506613,"nm0309691,nm0319659,nm0505230,nm0558577",real steel,...,False,False,False,False,False,False,False,False,False,False
11,The Giver,The Giver,2014,97.0,"['Drama', 'Romance', 'Sci-Fi']",6.5,104999.0,nm0637518,"nm2276729,nm0004332,nm0523342",the giver,...,False,False,False,False,True,True,False,False,False,False
12,Toy Story 3,Toy Story 3,2010,103.0,"['Adventure', 'Animation', 'Comedy']",8.3,682218.0,nm0881279,"nm0005124,nm0004056,nm0881279,nm1578335",toy story 3,...,False,False,False,False,False,False,False,False,False,False
13,Lincoln,Lincoln,2012,150.0,"['Biography', 'Drama', 'History']",7.4,228701.0,nm0000229,"nm1065785,nm0329447",lincoln,...,False,False,False,False,False,False,False,False,False,False
14,Scott Pilgrim vs. the World,Scott Pilgrim vs. the World,2010,112.0,"['Action', 'Comedy', 'Fantasy']",7.5,339338.0,nm0942367,"nm0045209,nm0942367,nm1854069",scott pilgrim vs the world,...,False,False,False,False,False,False,False,False,False,False
15,Puss in Boots,Puss in Boots,2011,90.0,"['Action', 'Adventure', 'Animation']",6.6,133355.0,nm3735491,"nm1117226,nm0528244,nm0204030,nm0011470,nm0674...",puss in boots,...,False,False,False,False,False,False,False,False,False,False
16,Wonder Woman,Wonder Woman,2017,141.0,"['Action', 'Adventure', 'Fantasy']",7.5,487527.0,nm0420941,"nm0374302,nm0811583,nm0297229,nm0551376,nm4243936",wonder woman,...,False,False,False,False,False,False,False,False,False,False
17,Life of Pi,Life of Pi,2012,127.0,"['Adventure', 'Drama', 'Fantasy']",7.9,535836.0,nm0000487,"nm1674631,nm1341735",life of pi,...,False,False,False,False,False,False,False,False,False,False
18,The Crazies,The Crazies,2010,101.0,"['Horror', 'Thriller']",6.5,104465.0,nm0252135,"nm0466925,nm1242522,nm0001681",the crazies,...,True,False,False,False,False,False,False,True,False,False
19,The Equalizer,The Equalizer,2014,132.0,"['Action', 'Crime', 'Thriller']",7.2,302302.0,nm0298807,"nm0921013,nm0805994,nm2030456",the equalizer,...,False,False,False,False,False,False,False,True,False,False
20,Captain America: The First Avenger,Captain America: The First Avenger,2011,124.0,"['Action', 'Adventure', 'Sci-Fi']",6.9,668137.0,nm0002653,"nm1321655,nm1321656,nm0800209,nm0456158",captain america the first avenger,...,False,False,False,False,False,True,False,False,False,False
21,Piranha 3D,Piranha 3D,2010,88.0,"['Comedy', 'Horror']",5.4,81327.0,nm0014960,"nm1539257,nm0831457",piranha 3d,...,True,False,False,False,False,False,False,False,False,False
22,Margaret,Margaret,2011,150.0,['Drama'],6.5,14708.0,nm0518836,nm0518836,margaret,...,False,False,False,False,False,False,False,False,False,False
23,Tower Heist,Tower Heist,2011,104.0,"['Action', 'Comedy', 'Crime']",6.2,125102.0,nm0711840,"nm0177836,nm0171651,nm0341372,nm0622288,nm9195200",tower heist,...,False,False,False,False,False,False,False,False,False,False
24,The Smurfs,The Smurfs,2011,103.0,"['Adventure', 'Animation', 'Comedy']",5.5,77577.0,nm0331532,"nm0826425,nm0918955,nm0771065,nm0740115,nm0678963",the smurfs,...,False,False,False,False,False,False,False,False,False,False
25,The Mechanic,The Mechanic,2011,93.0,"['Action', 'Crime', 'Thriller']",6.6,141254.0,nm0922346,"nm0921013,nm0137573",the mechanic,...,False,False,False,False,False,False,False,True,False,False
26,"Hail, Caesar!","Hail, Caesar!",2016,106.0,"['Comedy', 'Drama', 'Music']",6.3,111422.0,"nm0001053,nm0001054","nm0001054,nm0001053",hail caesar,...,False,True,False,False,False,False,False,False,False,False
27,Unstoppable,Unstoppable,2010,98.0,"['Action', 'Thriller']",6.8,173019.0,nm0001716,nm0093560,unstoppable,...,False,False,False,False,False,False,False,True,False,False
28,The Tree of Life,The Tree of Life,2011,139.0,"['Drama', 'Fantasy']",6.8,156266.0,nm0000517,nm0000517,the tree of life,...,False,False,False,False,False,False,False,False,False,False
29,Ant-Man,Ant-Man,2015,117.0,"['Action', 'Adventure', 'Comedy']",7.3,501213.0,nm0715636,"nm0942367,nm0180428,nm0570912,nm0748620,nm0498...",antman,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1196,A Bad Moms Christmas,A Bad Moms Christmas,2017,104.0,"['Adventure', 'Comedy']",5.5,33056.0,"nm0524190,nm0601859","nm0524190,nm0601859",a bad moms christmas,...,False,False,False,False,False,False,False,False,False,False
1197,Proud Mary,Proud Mary,2018,89.0,"['Action', 'Crime', 'Drama']",4.9,6805.0,nm0619836,"nm1433517,nm1582836,nm0031078",proud mary,...,False,False,False,False,False,False,False,False,False,False
1198,Upgrade,Upgrade,2018,100.0,"['Action', 'Sci-Fi', 'Thriller']",7.6,104978.0,nm1191481,nm1191481,upgrade,...,False,False,False,False,False,True,False,True,False,False
1199,Bad Times at the El Royale,Bad Times at the El Royale,2018,141.0,"['Crime', 'Drama', 'Mystery']",7.1,86318.0,nm1206844,nm1206844,bad times at the el royale,...,False,False,False,True,False,False,False,False,False,False
1200,A Quiet Place,A Quiet Place,2018,90.0,"['Drama', 'Horror', 'Sci-Fi']",7.6,305031.0,nm1024677,"nm1456816,nm1399714,nm1024677",a quiet place,...,True,False,False,False,False,True,False,False,False,False
1201,Truth or Dare,Truth or Dare,2018,100.0,"['Horror', 'Thriller']",5.2,33621.0,nm0905592,"nm0718555,nm3273842,nm1496753,nm0905592",truth or dare,...,True,False,False,False,False,False,False,True,False,False
1202,Night School,Night School,2018,111.0,['Comedy'],5.6,23501.0,nm0002700,"nm4002545,nm0831557,nm0357453,nm0366389,nm5183...",night school,...,False,False,False,False,False,False,False,False,False,False
1203,I Feel Pretty,I Feel Pretty,2018,110.0,"['Comedy', 'Romance']",5.4,39936.0,"nm0799050,nm0463359","nm0463359,nm0799050",i feel pretty,...,False,False,False,False,True,False,False,False,False,False
1204,The 15:17 to Paris,The 15:17 to Paris,2018,94.0,"['Biography', 'Drama', 'Thriller']",5.2,21880.0,nm0000142,"nm2980113,nm7582805,nm7556035,nm7052140,nm9087870",the 1517 to paris,...,False,False,False,False,False,False,False,True,False,False
1205,Peppermint,Peppermint,2018,101.0,"['Action', 'Crime', 'Drama']",6.5,35854.0,nm0603628,nm3203841,peppermint,...,False,False,False,False,False,False,False,False,False,False
1206,Book Club,Book Club,2018,104.0,"['Comedy', 'Drama', 'Romance']",6.1,18728.0,nm2250139,"nm2250139,nm0799958",book club,...,False,False,False,False,True,False,False,False,False,False
1207,Green Book,Green Book,2018,130.0,"['Biography', 'Comedy', 'Drama']",8.3,204972.0,nm0268380,"nm0885014,nm0192942,nm0268380",green book,...,False,False,False,False,False,False,False,False,False,False
1208,Mandy,Mandy,2018,121.0,"['Action', 'Fantasy', 'Horror']",6.6,44378.0,nm0181903,"nm0181903,nm2507810,nm1085757",mandy,...,True,False,False,False,False,False,False,False,False,False
1209,A Simple Favor,A Simple Favor,2018,117.0,"['Comedy', 'Crime', 'Drama']",6.9,83338.0,nm0082450,"nm9079127,nm0789366",a simple favor,...,False,False,False,False,False,False,False,False,False,False
1210,If Beale Street Could Talk,If Beale Street Could Talk,2018,119.0,"['Drama', 'Romance']",7.2,25512.0,nm1503575,"nm1503575,nm0049924",if beale street could talk,...,False,False,False,False,True,False,False,False,False,False
1211,Destroyer,Destroyer,2018,121.0,"['Action', 'Crime', 'Drama']",6.2,13683.0,nm0476201,"nm0006534,nm0542062",destroyer,...,False,False,False,False,False,False,False,False,False,False
1212,Breaking In,Breaking In,2018,88.0,"['Action', 'Crime', 'Drama']",5.4,10154.0,nm0574625,"nm0257513,nm4003337",breaking in,...,False,False,False,False,False,False,False,False,False,False
1213,Unsane,Unsane,2018,98.0,"['Drama', 'Horror', 'Mystery']",6.4,32049.0,nm0001752,"nm0077080,nm0007079",unsane,...,True,False,False,True,False,False,False,False,False,False
1214,The Promise,Puen Tee Raluek,2017,114.0,"['Drama', 'Horror', 'Thriller']",6.1,629.0,nm1637163,"nm9188529,nm7628278,nm1637163",the promise,...,True,False,False,False,False,False,False,True,False,False
1215,Uncle Drew,Uncle Drew,2018,103.0,"['Comedy', 'Sport']",5.7,9739.0,nm0831690,nm1062565,uncle drew,...,False,False,False,False,False,False,True,False,False,False
1216,BlacKkKlansman,BlacKkKlansman,2018,135.0,"['Biography', 'Crime', 'Drama']",7.5,149005.0,nm0000490,"nm4478735,nm5161275,nm0932551,nm0000490,nm9259302",blackkklansman,...,False,False,False,False,False,False,False,False,False,False
1217,"Paul, Apostle of Christ","Paul, Apostle of Christ",2018,108.0,"['Adventure', 'Biography', 'Drama']",6.7,5662.0,nm1358366,"nm3885256,nm1358366",paul apostle of christ,...,False,False,False,False,False,False,False,False,False,False
1218,Instant Family,Instant Family,2018,118.0,"['Comedy', 'Drama']",7.4,46728.0,nm1890845,"nm1890845,nm1898234",instant family,...,False,False,False,False,False,False,False,False,False,False
1219,Teen Titans Go! To the Movies,Teen Titans Go! To the Movies,2018,84.0,"['Action', 'Animation', 'Comedy']",6.8,12525.0,"nm1739338,nm5715866","nm2398585,nm1739338,nm0796950,nm0795975,nm0938...",teen titans go to the movies,...,False,False,False,False,False,False,False,False,False,False
1220,The Great Wall,The Great Wall,2017,72.0,['Documentary'],6.5,24.0,nm2738464,nm0434525,the great wall,...,False,False,False,False,False,False,False,False,False,False
1221,Ben Is Back,Ben Is Back,2018,103.0,['Drama'],6.7,10402.0,nm0373282,nm0373282,ben is back,...,False,False,False,False,False,False,False,False,False,False
1222,SuperFly,Superfly,2018,116.0,"['Action', 'Crime', 'Thriller']",5.0,4753.0,nm1962311,nm0874844,superfly,...,False,False,False,False,False,False,False,True,False,False
1223,Hereditary,Hereditary,2018,127.0,"['Drama', 'Horror', 'Mystery']",7.3,151571.0,nm4170048,nm4170048,hereditary,...,True,False,False,True,False,False,False,False,False,False
1224,The Mule,The Mule,2018,116.0,"['Crime', 'Drama', 'Thriller']",7.1,58955.0,nm0000142,"nm10095627,nm1010405",the mule,...,False,False,False,False,False,False,False,True,False,False
1225,Nobody's Fool,Nobody's Fool,2018,110.0,"['Comedy', 'Drama', 'Romance']",4.6,3618.0,nm1347153,nm1347153,nobodys fool,...,False,False,False,False,True,False,False,False,False,False

In [7]:
data.action.value_counts()

False    827
True     399
Name: action, dtype: int64

In [8]:
data['horror'].count()

1226

In [14]:
genre_columns = ['action', 'adventure', 'animation', 'biography', 'comedy', 'crime',
       'documentary', 'drama', 'family', 'fantasy', 'history', 'horror',
       'music', 'musical', 'mystery', 'romance', 'sci_fi', 'sport', 'thriller',
       'war', 'western']

In [15]:
data.groupby('horror').count()

,primary_title,original_title,start_year,runtime_minutes,genres,average_rating,num_votes,directors,writers,title,...,history,music,musical,mystery,romance,sci_fi,sport,thriller,war,western
horror,,,,,,,,,,,,,,,,,,,,,
False,1097,1097,1097,1097,1097,1097,1097,1097,1094,1097,...,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097
True,129,129,129,129,129,129,129,129,129,129,...,129,129,129,129,129,129,129,129,129,129