# DATA CLEANING

__Technical Notebook -__  Module 1 Microsoft Project <br />
__Data Scientists -__  Nathan Venos, Max Tingle <br />
__Flatiron School -__ DC Data Science Fellowship

## I. Importing Libraries

In [1]:
# import libraries
import string
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## II. IMDb Data


We combine two IMDb data sets to identify movies' genres, ratings, and number of votes received. We use imdb.title.basics.csv.gz to identify each movie's unique identifier code, movie title, and associated genere(s). We use imdb.title.ratings.csv.gz to identify each movie's average rating and number of votes received.

### 1. Reading IMDB CSV Data Files

In [2]:
# Reading imdb.title.basics.csv.gz and imdb.title.ratings.csv.gz
imdb_title_basics = pd.read_csv('Data/imdb.title.basics.csv.gz')
imdb_title_ratings = pd.read_csv('Data/imdb.title.ratings.csv.gz')

### 2. Exploring IMDB DataFrames

In [3]:
# Exploring imdb_title_basics with .head()
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [4]:
# Exploring imdb_title_basics with .info()
imdb_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [5]:
# Exploring imdb_title_basics and grouping by genres
imdb_title_basics.groupby('genres')['tconst'].count()

genres
Action                        2219
Action,Adult,Comedy              2
Action,Adventure               114
Action,Adventure,Animation     197
Action,Adventure,Biography      34
                              ...
Thriller,War,Western             1
Thriller,Western                 4
War                            131
War,Western                      1
Western                        142
Name: tconst, Length: 1085, dtype: int64

In [6]:
# Exploring imdb_title_ratings with .head()
imdb_title_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [7]:
# Exploring imdb_title_ratings with .info()
imdb_title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

### 3. Cleaning IMDB DataFrames

In [8]:
# Replacing empty cells in imdb_title_basics "genre" column with "Missing"
imdb_title_basics['genres'].replace(np.nan, 'Missing', inplace=True, regex=True)

In [9]:
# Lowercase column names in imdb_title_ratings to standardize column names
imdb_title_ratings.rename(columns={'averagerating': 'average_rating', 'numvotes': 'num_votes'}, inplace=True)

### 4. Joining IMDB DataFrames

In [10]:
# Setting index columns to "tconst" variable in preparation for join
imdb_title_basics.set_index("tconst", inplace=True)
imdb_title_ratings.set_index("tconst", inplace=True)

In [11]:
# Joining imdb_title_basics and imdb_title_ratings to create imbd_df
imdb_df3 = imdb_title_basics.join(imdb_title_ratings, how='left')

In [12]:
# Previewing imdb_df
imdb_df3.head()

,primary_title,original_title,start_year,runtime_minutes,genres,average_rating,num_votes
tconst,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0

## III. Budget & Revenue Data
We use the bom.movie_gross.csv data to identify each movie's studio.
We wanted to know the studio so we can identify trends within individual studios
We use the tn.movie_budgets.csv to identify each movie's budget and revenue figures.

### 1. Reading Budget and Revenue CSV Data Files

In [13]:
# Reading bom.movie_gross.csv.gz and tn.movie_budgets.csv.gz
bom = pd.read_csv('Data/bom.movie_gross.csv.gz')
tn = pd.read_csv('Data/tn.movie_budgets.csv.gz')

### 2. Exploring Budget and Revenue DataFrames

In [14]:
# Exploring bom with .head()
bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [15]:
# Exploring bom with .info()
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [16]:
# Exploring bom and grouping by studio to get a count of titles per studio
bom.groupby('studio')['title'].count()

studio
3D        1
A23       2
A24      49
ADC       2
AF        6
         ..
XL        2
YFG       1
Yash     14
Zee       1
Zeit.    16
Name: title, Length: 257, dtype: int64

In [17]:
# Counting unique value of studios in bom
len(bom.studio.unique())

258

In [18]:
# Checking for duplicates in bom
sum(bom.duplicated())

0

In [19]:
# Exploring tn with .head()
tn.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [20]:
# Exploring tn with .info()
tn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [21]:
# Checking for duplicates in tn
sum(tn.duplicated())

0

### 3. Cleaning of Budget and Revenue DataFrames

#### a. Initial Cleaning

In [22]:
# cleaning up an encoding issue for apostrophes
tn.movie = tn.movie.apply(lambda x: x.replace('Ã¢\x80\x99', "'"))

# Converting the money columns, which have values stored as strings due to dollar-signs and commas, to numbers.
def convert_currency_str_to_num(dataframe, column):
    dataframe[column] = dataframe[column].apply(lambda x: x.replace('$', ''))
    dataframe[column] = dataframe[column].apply(lambda x: x.replace(',', ''))
    dataframe[column] = dataframe[column].astype('float')

convert_currency_str_to_num(tn, 'production_budget')
convert_currency_str_to_num(tn, 'domestic_gross')
convert_currency_str_to_num(tn, 'worldwide_gross')

In [23]:
# Removing movies from before 2010 to conform with the time period in the other datasets
tn['year'] = tn.release_date.apply(lambda x: int(x[-4:]))
tn = tn.loc[tn.year >= 2010]

In [24]:
# Converting the release_date to a datetime object
tn['release_date'] = pd.to_datetime(tn.release_date)

#### b. Function to Remove Year Parentheticals from Title Strings

As we were cleaning the tn dataframe, we found some titles which had the year appended in a parenthetical,
but that wasn't the case in the other datasets, so they were being excluded from an inner join on the titles. We therefore created two functions to remove the parenthetical year from titles containing parenthetical years.

In [25]:
# This function returns True if the movie title has a 4-digit number/year within a parenthetical

def parenthetical_is_a_year(words):
    if words.find("(") != -1:
        new_words = words[(words.find("(")+1):(words.find(")"))]
        if (new_words.isdigit()) and (len(new_words) == 4):
            return True
        else:
            return False
    else:
        return False

In [26]:
# This function relies on parenthetical_is_a_year() to determine if there's a year appended to the title,
# and then removes the appended year if it exists

def remove_appended_yr_from_title(dataframe, column):
    dataframe[column] = dataframe[column].apply(
        lambda x: x[:(x.find("(")-1)] if parenthetical_is_a_year(x) else x)

In [27]:
remove_appended_yr_from_title(bom, 'title')

#### c. Function to Remove Styling from Titles

We then created a function to remove styling from titles that could inhibit a match when joining different datasets.

In [28]:
# This function removes punctuation from the titles and makes all characters lowercase

def title_string_format_standardization(dataframe, column):
    dataframe[column] = dataframe[column].apply(lambda x: str(x).translate(str.maketrans('',
                                                                                         '',
                                                                                         string.punctuation)
                                                                           ).lower())

In [29]:
# Using our created function to remove styling from title names
title_string_format_standardization(tn, 'movie')
title_string_format_standardization(bom, 'title')

#### d. Creating Columns, Dropping Unrelated Columns, & Dropping Rows with Missing Data

In [30]:
# Creating uniquely named year columns for comparison after joining the dataframes
bom.rename(columns={'year': 'bom_year'}, inplace=True)
tn.rename(columns={'year': 'tn_year'}, inplace=True)

In [31]:
# Only keeping pertinent columns of each dataframe.
bom = bom[['title', 'studio', 'bom_year']].copy()
tn = tn[['movie', 'release_date', 'production_budget', 'domestic_gross',
         'worldwide_gross', 'tn_year']].copy()

In [32]:
# Dropping the 5 rows from bom that have nulls since the count is so low
bom.dropna(inplace=True)

In [33]:
# Creating a foreign_gross column.
tn['foreign_gross'] = tn['worldwide_gross'] - tn['domestic_gross']

### 4. Joining Budget & Revenue DataFrames

In [34]:
# Inner joining the studio and budget+revenue data sets 
# to ensure we have a set of movies with a complete set of info.
studio_movie_performance_inner = bom.merge(right=tn,
                                           how='inner',
                                           left_on='title',
                                           right_on='movie')

In [35]:
# Investigating potential duplicate records where the years don't match
studio_movie_performance_inner.loc[studio_movie_performance_inner.bom_year 
                                   != studio_movie_performance_inner.tn_year]

,title,studio,bom_year,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross
17,robin hood,Uni.,2010,robin hood,2018-11-21,99000000.0,30824628.0,8.474744e+07,2018,53922813.0
18,robin hood,LG/S,2018,robin hood,2010-05-14,210000000.0,105487148.0,3.224590e+08,2010,216971858.0
44,unstoppable,WGUSA,2018,unstoppable,2010-11-12,95000000.0,81562942.0,1.657209e+08,2010,84157979.0
61,the girl with the dragon tattoo,MBox,2010,the girl with the dragon tattoo,2011-12-20,90000000.0,102515793.0,2.393740e+08,2011,136858177.0
115,leap year,Strand,2011,leap year,2010-01-08,19000000.0,25918920.0,3.261892e+07,2010,6700000.0
134,mother,Magn.,2010,mother,2017-09-15,30000000.0,17800004.0,4.253108e+07,2017,24731072.0
173,frozen,Anch.,2010,frozen,2013-11-22,150000000.0,400738009.0,1.272470e+09,2013,871731901.0
201,the girl on the train,Strand,2010,the girl on the train,2016-10-07,45000000.0,75395035.0,1.742782e+08,2016,98883179.0
268,the iron lady,Wein.,2011,the iron lady,2012-01-13,14000000.0,29959436.0,1.155921e+08,2012,85632668.0
357,we need to talk about kevin,Osci.,2011,we need to talk about kevin,2012-01-13,7000000.0,1738692.0,1.076528e+07,2012,9026591.0
362,like crazy,Strand,2017,like crazy,2011-10-28,250000.0,3395391.0,3.728400e+06,2011,333009.0
385,the other woman,IFC,2011,the other woman,2014-04-25,40000000.0,83911193.0,1.951112e+08,2014,111200000.0
394,beautiful boy,Anch.,2011,beautiful boy,2018-10-12,25000000.0,7634767.0,1.303142e+07,2018,5396657.0
400,blood ties,ALP,2011,blood ties,2014-03-21,26000000.0,42472.0,2.923959e+06,2014,2881487.0
531,the apparition,MBox,2018,the apparition,2012-08-24,17000000.0,4936819.0,1.063728e+07,2012,5700462.0
534,on the road,IFC,2012,on the road,2013-03-22,25000000.0,720828.0,9.313302e+06,2013,8592474.0
535,promised land,Focus,2012,promised land,2013-01-04,15000000.0,7597898.0,1.239456e+07,2013,4796664.0
539,albert nobbs,RAtt.,2012,albert nobbs,2011-12-21,7500000.0,3014696.0,8.539003e+06,2011,5524307.0
659,her,WB,2013,her,2014-01-10,23000000.0,25568251.0,4.816382e+07,2014,22595564.0
667,snitch,LG/S,2013,snitch,2012-12-31,850000.0,0.0,0.000000e+00,2012,0.0
683,trance,FoxS,2013,trance,2012-12-31,950000.0,0.0,0.000000e+00,2012,0.0
708,believe,ORF,2013,believe,2016-12-02,3500000.0,890303.0,8.903030e+05,2016,0.0
717,the wall,MBox,2013,the wall,2017-05-12,3000000.0,1803064.0,4.495262e+06,2017,2692198.0
804,selma,Par.,2014,selma,2015-01-09,20000000.0,52076908.0,6.677658e+07,2015,14699668.0
860,mommy,RAtt.,2014,mommy,2015-01-23,4900000.0,3498695.0,1.753600e+07,2015,14037309.0
870,highway,UTV,2014,highway,2012-12-31,2000000.0,0.0,0.000000e+00,2012,0.0
981,the lady in the van,SPC,2015,the lady in the van,2016-01-15,6000000.0,10021175.0,4.232050e+07,2016,32299328.0
1026,youth,CL,2017,youth,2015-12-04,13000000.0,2703296.0,2.400157e+07,2015,21298277.0
1034,phantom,UTV,2015,phantom,2013-03-01,18000000.0,1034589.0,1.199510e+06,2013,164921.0
1038,eden,BG,2015,eden,2016-01-19,2300000.0,0.0,0.000000e+00,2016,0.0
1139,a monster calls,Focus,2016,a monster calls,2017-01-06,43000000.0,3740823.0,4.641453e+07,2017,42673707.0
1166,regression,W/Dim.,2016,regression,2015-10-30,20000000.0,55039.0,1.582437e+07,2015,15769335.0
1333,the square,Magn.,2017,the square,2010-04-09,1900000.0,406216.0,7.409320e+05,2010,334716.0
1334,the square,Magn.,2017,the square,2013-10-25,1500000.0,124244.0,1.762620e+05,2013,52018.0

In [36]:
# The nature of the inner join created some unwanted records
studio_movie_performance_inner.loc[studio_movie_performance_inner.title == 'robin hood']

,title,studio,bom_year,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross
16,robin hood,Uni.,2010,robin hood,2010-05-14,210000000.0,105487148.0,322459006.0,2010,216971858.0
17,robin hood,Uni.,2010,robin hood,2018-11-21,99000000.0,30824628.0,84747441.0,2018,53922813.0
18,robin hood,LG/S,2018,robin hood,2010-05-14,210000000.0,105487148.0,322459006.0,2010,216971858.0
19,robin hood,LG/S,2018,robin hood,2018-11-21,99000000.0,30824628.0,84747441.0,2018,53922813.0

In [37]:
# Removing the mismatched data based on the years
studio_movie_performance_inner = studio_movie_performance_inner.loc[studio_movie_performance_inner.bom_year
                                                                    == studio_movie_performance_inner.tn_year].copy()

### 5. Creating DataFrame of Unique IMDb Movie Titles with "tconst" Code

We created a dataframe of IMDb titles to match movie titles in studio_movie_performance_inner with "tconst" values.

In [38]:
# Creating dataframe of imdb titles.
imdb_titles = imdb_df3.reset_index()

In [39]:
# Creating subsets of the dataframe with the unique IMDb title ID (i.e. tconst).
primary_titles = imdb_titles[['tconst', 'primary_title', 'start_year', 'num_votes']].copy()
original_titles = imdb_titles[['tconst', 'original_title', 'start_year', 'num_votes']].copy()
primary_titles.columns = ['tconst', 'title', 'imdb_year', 'num_votes']
original_titles.columns = ['tconst', 'title', 'imdb_year', 'num_votes']

In [40]:
# These are then concatenated and duplicates are removed 
# to provide a map between all potential IMDb titles and their unique IDs.
imdb_titles_only = pd.concat([primary_titles, original_titles])

In [41]:
# Standardizing the title formats.
title_string_format_standardization(imdb_titles_only, 'title')

In [42]:
# Removing duplicates.
imdb_titles_only = imdb_titles_only.loc[imdb_titles_only.duplicated() == False]
imdb_titles_only.dropna(inplace=True)

In [43]:
# Resetting index
imdb_titles_only.reset_index(inplace=True, drop=True)

### 6. Joining Unique IMDb DataFrame with Joined Budget & Revenue DataFrame

#### a. Joining

In [44]:
# Joining the unique IMDb title ID (i.e. tconst) with the budget, revenue and studio data.
studio_movie_performance_inner_w_imdb = studio_movie_performance_inner.merge(right=imdb_titles_only,
                                                                             how='inner',
                                                                             left_on='title',
                                                                             right_on='title')

#### b. Handling Duplicates

In [45]:
# Tracking down duplicates, shortening df name to make this code shorter.
smpiwi = studio_movie_performance_inner_w_imdb.copy()
smpiwi['duplicates'] = smpiwi.title.apply(lambda x:
                                          len(smpiwi.title.loc[smpiwi.title == x]))

In [46]:
# Lots of duplicates that will need to be addressed
len(smpiwi.loc[smpiwi.duplicates > 1])

548

In [47]:
# Only retaining records where the year in the Budget and Revenue data matches IMDb
smpiwi = smpiwi.loc[smpiwi.bom_year == smpiwi.imdb_year]

In [48]:
# Recreating the duplicate count after trimming the dataset
smpiwi['duplicates'] = smpiwi.title.apply(lambda x:
                                          len(smpiwi.title.loc[smpiwi.title == x]))

When reviewing the remaining the remaining duplicates to identify trends, we discovered a significant difference in the number of votes between duplicate movies. We proceeded with the assumption that the movie with more votes is likely the one for which budget data is available. Therefore, we decided to keep the duplicate value with the highest vote count.

In [49]:
# Initializing a column of falses to then remove Trues
smpiwi['duplicate_to_delete'] = False

In [50]:
# Looping through and identifying duplicate movies with lower vote counts as True duplicate_to_delete
for index in smpiwi.index:
    if smpiwi.loc[index, 'duplicates'] > 1:
        index_title = smpiwi.loc[index, 'title']
        index_year = smpiwi.loc[index, 'imdb_year']
        index_num_votes = smpiwi.loc[index, 'num_votes']
        if smpiwi.num_votes.loc[(smpiwi.title == index_title) 
                               & (smpiwi.imdb_year == index_year)].max() != index_num_votes:
            smpiwi.at[index, 'duplicate_to_delete'] = True

#### c. Preparing for Final DataFrame

In [51]:
# Preparing columns for final dataframe
smpiwi.rename(columns= {'bom_year': 'year'}, inplace=True)

In [52]:
# Removing the last of the duplicates and only keeping certain rows
studio_movie_performance_inner_w_imdb = smpiwi[['title', 'studio', 'year', 'release_date', 'production_budget',
                                                'domestic_gross', 'worldwide_gross', 'foreign_gross',
                                                'tconst']].loc[smpiwi.duplicate_to_delete == False].copy()

In [53]:
studio_movie_performance_inner_w_imdb.reset_index(inplace=True)
studio_movie_performance_inner_w_imdb.drop('index', axis=1, inplace=True)

In [54]:
#studio_movie_performance_inner_w_imdb.head()

In [55]:
#studio_movie_performance_inner_w_imdb.info()

## IV. Joining IMDb Data with Budget & Revenue Data

### 1. Joining Budget and Revenue Data to IMDB Data

In [56]:
# create studio_movie_performance & define index
studio_movie_performance = studio_movie_performance_inner_w_imdb.set_index('tconst')

In [57]:
# join studio_movie_performance
imdb_df4 = imdb_df3.join(studio_movie_performance, how='inner')

### 2. Creating Columns with Boolean Values for Each Genre

In [58]:
# Alphabetizing genre lists in genres column
imdb_df4['genres'].sort_values()

tconst
tt1258972                        Action
tt2295722              Action,Adventure
tt2267968    Action,Adventure,Animation
tt0892769    Action,Adventure,Animation
tt1446192    Action,Adventure,Animation
                        ...
tt2172935                         Music
tt1650062       Mystery,Sci-Fi,Thriller
tt1219289       Mystery,Sci-Fi,Thriller
tt1130884              Mystery,Thriller
tt1385826       Romance,Sci-Fi,Thriller
Name: genres, Length: 1226, dtype: object

In [59]:
# Making string in genres column a list and splitting elements in the list
imdb_df4['genres'] = imdb_df4['genres'].str.split(",")

In [60]:
# Createing list of all genres
unique_genres = []
for genres in imdb_df4.genres:
    for genre in genres:
        unique_genres.append(genre)

unique_genres[0:6]

['Adventure', 'Comedy', 'Drama', 'Action', 'Crime', 'Drama']

In [61]:
# Creating list of unique genres
sorted_unique_genre_list = list(set(unique_genres))

In [62]:
# Sorting list of unique genres
sorted_unique_genre_list.sort()

In [63]:
# Creating new columns for each unique genre and assign NaN values
for genre in sorted_unique_genre_list:
    imdb_df4[genre] = np.nan

In [64]:
# Assigning boolean values to genre columns if genre appears in genres column
for genre in sorted_unique_genre_list:
    imdb_df4[genre] = imdb_df4.genres.apply(lambda x: genre in x)

### 3. Standardizing Columns & Removing Unnecessary Columns

In [65]:
# Re-naming 'sci-fi' column to 'sci_fi' and lowercasing the genre columns
imdb_df4.columns = map(str.lower, imdb_df4.columns)
imdb_df4 = imdb_df4.rename(columns={'sci-fi': 'sci_fi'})

In [66]:
# Removing redundant columns
imdb_df4.drop(['start_year', 'original_title', 'title'], axis=1, inplace=True)

In [67]:
# Reviewing list of columns
imdb_df4.columns

Index(['primary_title', 'runtime_minutes', 'genres', 'average_rating',
       'num_votes', 'studio', 'year', 'release_date', 'production_budget',
       'domestic_gross', 'worldwide_gross', 'foreign_gross', 'action',
       'adventure', 'animation', 'biography', 'comedy', 'crime', 'documentary',
       'drama', 'family', 'fantasy', 'history', 'horror', 'music', 'musical',
       'mystery', 'romance', 'sci_fi', 'sport', 'thriller', 'war', 'western'],
      dtype='object')

In [68]:
# Previewing Final DataFrame
imdb_df4.head()

,primary_title,runtime_minutes,genres,average_rating,num_votes,studio,year,release_date,production_budget,domestic_gross,...,horror,music,musical,mystery,romance,sci_fi,sport,thriller,war,western
tconst,,,,,,,,,,,,,,,,,,,,,
tt0359950,The Secret Life of Walter Mitty,114.0,"[Adventure, Comedy, Drama]",7.3,275300.0,Fox,2013,2013-12-25,91000000.0,58236838.0,...,False,False,False,False,False,False,False,False,False,False
tt0365907,A Walk Among the Tombstones,114.0,"[Action, Crime, Drama]",6.5,105116.0,Uni.,2014,2014-09-19,28000000.0,26017685.0,...,False,False,False,False,False,False,False,False,False,False
tt0369610,Jurassic World,124.0,"[Action, Adventure, Sci-Fi]",7.0,539338.0,Uni.,2015,2015-06-12,215000000.0,652270625.0,...,False,False,False,False,False,True,False,False,False,False
tt0376136,The Rum Diary,119.0,"[Comedy, Drama]",6.2,94787.0,FD,2011,2011-10-28,45000000.0,13109815.0,...,False,False,False,False,False,False,False,False,False,False
tt0383010,The Three Stooges,92.0,"[Comedy, Family]",5.1,28570.0,Fox,2012,2012-04-13,30000000.0,44338224.0,...,False,False,False,False,False,False,False,False,False,False

### 2. Exporting Final DataFrame to .csv

In [69]:
# Exporting DataFrame
imdb_df4.to_csv('Data/cleaned_dataframe.csv', index=False)